.SideBar {
  margin-top: 70px;
  /* height: 900px; */
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  height: 90%;
}
.SideBar::-webkit-scrollbar {
  width: 8px;
  display: block;
}
.SideBar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 50px;
}
